.timeline {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  padding: 30px 0;
  transform: translate(-50%, 0);
  pointer-events: none;
  transition: opacity 0.35s;

  .timeline__inner {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    height: 20px;

    .timeline__track {
      background: rgba(cyan, 0.75);
      width: 0;
      height: 20px;
      border-right: 3px solid white;
    }
  }

  .timeline__stages {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30px;
    left: 0;
    border: 3px solid white;
    border-radius: 30px;
    height: 20px;

    > div {
      position: absolute;
      width: 3px;
      height: 100%;
      background: white;
      top: 0;
      transform: translate(-50%, 0);

      &:nth-child(1) { left: 20%; }
      &:nth-child(2) { left: 40%; }
      &:nth-child(3) { left: 60%; }
      &:nth-child(4) { left: 80%; }
    }
  }
}
