/*
@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: normal;
  src: url('../../dist/fonts/MuseoModerno-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MuseoModerno';
  font-style: normal;
  font-weight: bold;
  src: url('../../dist/fonts/MuseoModerno-Bold.ttf') format('truetype');
}
*/
